<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788818320442-vng2951eum75vbcrgublrjld7rk1tukm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788818320442-vng2951eum75vbcrgublrjld7rk1tukm</string>
	<key>API_KEY</key>
	<string>AIzaSyBqxw4HOyuJoxgbW6a5OA4qMTm_mgqEcek</string>
	<key>GCM_SENDER_ID</key>
	<string>788818320442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>tharwat-e-commerce</string>
	<key>STORAGE_BUCKET</key>
	<string>tharwat-e-commerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788818320442:ios:808c90b1a478b59002e903</string>
</dict>
</plist>